<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>228281764177-m7h56qo51r9i36g77b7obl797u01ivee.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.228281764177-m7h56qo51r9i36g77b7obl797u01ivee</string>
	<key>API_KEY</key>
	<string>AIzaSyBiE4VretZ1eoLwx9Kn6Xv63DzUGUejuPk</string>
	<key>GCM_SENDER_ID</key>
	<string>228281764177</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.petewest.FishingSouthAfrica</string>
	<key>PROJECT_ID</key>
	<string>fishingsouthafrica-pw</string>
	<key>STORAGE_BUCKET</key>
	<string>fishingsouthafrica-pw.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:228281764177:ios:9a2a3d66f663b39eb7eb70</string>
</dict>
</plist>